@font-face {
    font-family: hack;
    src: url(fonts/Hack-Regular.ttf);
}
html, body {
    width: 100%;
    min-height: 100%;
    border: 0;
    margin: 0;
    text-align: center;
}
body {
    background-color: #283237;
    font-family: hack;
    color: #eee;
}
a, a:visited {
    color: #ccc;
    text-decoration: underline;
}
#topControls {
    text-align: center;
    margin-bottom: 30px;
}
#window_outline {
    text-align: right;
}
#desktop {
    height: 100%;
    width: 510px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-color: #283237;
}
.header {
    margin: 0;
}
h2 {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}
input, select {
    font-size: 16px;
    border: solid 1px;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: #283237;
    border-color: #fff;
    color: #ccc;
    height: 40px;
    vertical-align: bottom;
}
select {
    display:inline-block;
}
input[type="color"] {
    width: 40px;
    padding: 0px;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;
}
input[type="button"] {
    padding-left: 10px;
    padding-right: 10px;
}
#container {
    width: 470px;
    margin: auto;
    text-align: right;
}
.ox_header {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;

    margin: 0;
    
    width: 440px;
    margin: auto;

    border-radius: 8px;
    border: 2px solid #283237;
    border-radius: 8px;
}
.ox {
    text-align: left;
    width: 440px;
    margin: auto;
    /* background-color: #283237; */
    overflow-x: hidden;
    min-width: 100px;
    min-height: 39px;
    font-family: hack;
    font-size: 16px;
}
p {
    margin-bottom: 0;
    margin-top: 5px;
    width: 100%;
}
.ox .blank {
    content: " ";
    margin-top: 23px; 
}
.rev {
    display:inline-block; 
    transform:scaleX(-1);
}
.box-shadow{
    box-shadow: 0 20px 68px rgba(0, 0, 0, 0.55);
}
#clone {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 36px;
    /* position: absolute;
    left: -10000px; */
}
#download {
    margin-top: 30px;
    margin-right: 0;
}
#hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#description {
    text-align: left; 
    margin-top: 20px;
    width: 470px;
    float: left;
    padding: 10px;
    padding-right: 20px;
}
#credits {
    float: left;
    margin-top: 20px;
    text-align: left;
    width: 470px;
    padding: 10px;
}